body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcfcfc;
}

code {
  font-family: monospace;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(100px, 768px) 1fr;
  grid-template-rows: 8vh minmax(420px, 80vh) 12vh; /* doing 78vh to account for that 1px row */
  grid-template-areas:
      ".  header ."
      ".  main   ."
      ".  footer .";
  font-family: 'Poppins', 'Open Sans';
  font-weight: 300;
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr minmax(100px, 170px);
  grid-template-areas: ". nav .";
  padding: 0em 1em;
}

.nav {
  grid-area: nav;
  height: 100%;
}

.main {
  grid-area: main;
  display: grid;
  justify-content: center;
  /* align-content: center; */
  padding: 1em;
}

.footer {
  grid-area: footer;
  padding: 1em;
}

.connect-links{
  list-style: none;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 0;
}

.connect-link{
  font-weight: bold;
  text-decoration: none;
  color: #577ca0;
}

.connect-link:hover{
  color: #2a5886;
}

.large-text{
  font-size: 1.5em;
  text-align: justify;
  color: #24313d;
}

.large-text-p{
  margin-top: 0;
}

#btn-download{
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}

#btn-download:hover{
  color: #07131f;
}

#download{
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .large-text{
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 620px) {
  .large-text{
    font-size: 1.25em;
  }
}

@media only screen and (max-width: 480px) {
  .large-text{
    font-size: 1em;
  }
}

@media only screen and (max-height: 800px) {
  .large-text{
    font-size: 1.5em;
  }
}

@media only screen and (max-height: 730px) {
  .large-text{
    font-size: 1.25em;
  }
}

@media only screen and (max-height: 530px) {
  .large-text{
    font-size: 1em;
  }
}