html {
    height: 100%;
}

body {
    background: #7092be url('my-paint-job.png') no-repeat center center fixed;
    background-size: cover ; /*150% auto;*/
    position: fixed;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    font: normal 14px/1.618em;
    font-family: 'Saira Condensed', sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
    margin: 0px 0px 0px 0px;
}
h2 {
    font-size: 16px;
}
h3 {
  color: #2e64ab;
  font-size: 17px;
}
p {
    margin: 0px;
    text-align: centre;
    font-size: 17px;
}
a {
  margin: 0px;
  text-align: center;
  font-size: 18px;
  color: #2e64ab;
  cursor: pointer;
  text-decoration: none;
}

a:hover{
  color: orange;
  font-weight: bold;
}

.btn-download{
  font-family: inherit;
  font-size: 17px;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
  color: #2e64ab;
}

.btn-download:hover{
  color: orange;
  font-weight: bold;
}

.download{
  display: flex;
  justify-content: center;
 
}

.profile-card {
    width: 400px;
    height: 540px;
    background: #FFFFFF;
    border-radius: 4px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -270px ;
    margin-left: -200px;
}

.profile-card header {
    /* float: left;
    border-right: 2px dashed #EEEEEE; */
    background: #FFFFFF;
    color: #000000;
    /* margin-top: 50px; */
    text-align: center;
    width: auto;
    height: auto;
    display: block;
    padding-top: 0px;
}
.profile-card header h1 {
    color: #2e64ab;
    font-weight: bold;
    font-size: 50px;
}
.profile-card header h2 {
  color: #30507a;
  font-size: 24px;
}
.profile-card .profile-bio {
    float: right;
    color: #333333;
    margin-top: 10px;
    width: auto;
    height: auto;
    padding: 10px 20px 30px 20px;
    display: block;
    text-align: center;
    background: #FFFFFF;
    border-radius: 4px;
}

.main-header{
    overflow: hidden;
    padding: 20px 10px;
    float: right;
}

.main-header a {
    margin: 0px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #30507a;
    cursor: pointer;
    text-decoration: none;
    padding: 12px;
    line-height: 25px;
    border-radius: 4px;
  }

.main-header a:hover {
    background-color: #ffffff;
  }

@media screen and (max-width: 500px) {
    .main-header a {
      float: right;
      display: block;
      text-align: left;
    }
  }

.main-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* font-size: 8px;
    color: #30507a; */
    padding-bottom: 10px;
  }
.main-footer p {
    font-size: 15px;
    color: #30507a;
    float: left;
    padding-left: 20px;
  }
.main-footer  a {
    font-size: 15px;
  }

#motion-demo {
    top: -10%;
    left: 30%;
    position:fixed;
    width:100px;
    height: 100px;
    offset-path: path('M -200 620 C 50.5 100 601.5 10 1000 630');
    animation: move 5s 0s alternate linear;
    animation-fill-mode: forwards;
  }
  
  @keyframes move {
    0% {
      offset-distance: 0%;
    }
    100% {
      offset-distance: 100%;
      opacity: 0;
    }
  }